# carriers one-click login

# 移动
host, config.cmpassport.com, reject
host, www.cmpassport.com, reject
host-suffix, cmpassport.com, rejct

# 联通
host, opencloud.wostore.cn, reject
host, hmrz.wo.cn, reject
host-suffix, hmrz.wo.cn, reject
host-suffix, wosotre.cn, reject

# 电信
host, id6.me, reject
host-suffix, e.189.cn, reject

# 阿里
host-suffix, dypnsapi.aliyuncs.com, reject
host-suffix, dypns.alysm.cn, reject